@media (max-width: 1040px){
    #right-side{
        width: 48%;
    }
    #right-side form{
        width: 45%;
    }
}

@media (max-width: 930px){
    header{
        flex-direction: column;
        margin-top: 2%;
    }
    #left-side{
        flex-direction: column;
    }
    #left-side nav{
        margin-top: 1rem;
        margin-bottom: 1rem;
    }
    #right-side, #right-side form{
        width: auto;
    }
    .dropdown-menu.show{
        transform: translate3d(-143px, 54px, 0px) !important;
    }
}
@media (max-width: 540px){
    #right-side{
        flex-direction: column;
    }
    #right-side div{
        margin-top: 1rem;
    }
    .dropdown-menu.show{
        transform: translate3d(-73px, 54px, 0px) !important;
    }
}