<header>
    <ng-container *ngIf="!loggedIn; else elseTemplate">
        <div id="left-side">
            <img src="./../../../assets/images/blog_logo.png">
            <nav>
                <ul>
                    <li><a href="/" [class.active]="isHome">Início</a></li>
                    <li><a href="/assuntos" [class.active]="isTopics">Assuntos</a></li>
                    <li><a href="/sobre" [class.active]="isAbout">Sobre</a></li>
                </ul>
            </nav>
        </div>
    
        <div id="right-side">
            <form action="">
                <input class="form-control" type="search" placeholder="Buscar" aria-label="Buscar">
                <a href=""><img src="./../../../assets/icons/lupa.svg"></a>
            </form>
            <button routerLink="/login" id="login-btn" class="btn" type="submit">Login</button>
            <button routerLink="/cadastro" id="register-btn" class="btn" type="submit">Cadastre-se</button>
        </div>
    </ng-container>

    <ng-template #elseTemplate>
        <div id="left-side">
            <img routerLink="/" src="./../../../assets/images/blog_logo.png">
            <nav>
                <ul>
                    <li><a routerLink="/" [class.active]="isHome">Início</a></li>
                    <li><a routerLink="/assuntos" [class.active]="isTopics">Assuntos</a></li>
                    <li><a routerLink="/sobre" [class.active]="isAbout">Sobre</a></li>
                </ul>
            </nav>
        </div>
    
        <div id="right-side">
            <form action="">
                <input class="form-control" type="search" placeholder="Buscar" aria-label="Buscar">
                <a href=""><img src="./../../../assets/icons/lupa.svg"></a>
            </form>
            
            <div class="dropdown">
                <img class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" src="https://ui-avatars.com/api/?name=${{encode(user.name)}}&background=random&rounded=true" width="50">
                <div class="dropdown-menu dropdown-menu-right">
                    <a class="dropdown-item mb-0" routerLink="/perfil"><b>{{user.name}}</b></a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" routerLink="/perfil">Meu perfil</a>
                    <a class="dropdown-item" routerLink="/escrever_post">Escrever um post</a>
                    <a class="dropdown-item" routerLink="/editar_perfil">Configurações</a>
                    <a class="dropdown-item" (click)="logout()" style="cursor: pointer;">Sair</a>
                    
                </div>
            </div>
        </div>
    </ng-template>
    
    
</header>