<header>
    <div id="left-side">
        <img src="./../../../assets/images/blog_logo.png" alt="">
        <nav>
            <ul>
                <li><a href="/">Início</a></li>
                <li><a href="/assuntos">Assuntos</a></li>
                <li><a href="/sobre">Sobre</a></li>
            </ul>
        </nav>
    </div>

    <div id="right-side">
        <form action="">
            <input type="search" placeholder="Buscar" aria-label="Buscar">
            <button type="submit"><img src="./../../../assets/icons/lupa.svg" alt=""></button>
        </form>
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Login</button>
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Cadastre-se</button>
    </div>
</header>