<header>
    <div id="left-side">
        <img src="./../../../assets/images/blog_logo.png" alt="">
        <nav>
            <ul>
                <li><a href="/" [class.active]="isHome">Início</a></li>
                <li><a href="/assuntos" [class.active]="isTopics">Assuntos</a></li>
                <li><a href="/sobre" [class.active]="isAbout">Sobre</a></li>
            </ul>
        </nav>
    </div>

    <div id="right-side">
        <form action="">
            <input class="form-control" type="search" placeholder="Buscar" aria-label="Buscar">
            <a href=""><img src="./../../../assets/icons/lupa.svg" alt=""></a>
        </form>
        <button id="login-btn" class="btn" type="submit">Login</button>
        <button id="register-btn" class="btn" type="submit">Cadastre-se</button>
    </div>
</header>