<app-header></app-header>
<main>
    <div class="my-auto" id="main-div">
        <h1 class="text-left w-100">Configurações</h1>
        <form action="">
            <div class="form-area">
                <label for="name">Nome</label>
                <input type="text" placeholder="Nome" id="name" class="form-control" required>
            </div>
            <div class="form-area">
                <label for="email">E-mail</label>
                <input type="text" placeholder="E-mail" id="email" class="form-control" required>
            </div>
            <div class="form-area">
                <label for="phone">Telefone</label>
                <input type="text" placeholder="Telefone" id="phone" class="form-control" required>
            </div>
            <div class="form-area">
                <label for="description">Descrição</label>
                <textarea name="Descrição" placeholder="Descrição" id="description" rows="10" required></textarea>
            </div>

            <label>Redes sociais</label>
            <div class="form-area social-media">
                <label for="linkedin">
                    <i class="fab fa-linkedin" title="Logomarca do Linkedin"></i>
                </label>
                <input type="text" placeholder="Linkedin" id="linkedin" class="form-control" required>
            </div>
            <div class="form-area social-media">
                <label for="instagram">
                    <i class="fab fa-instagram" title="Logomarca do Instagram"></i>
                </label>
                <input type="text" placeholder="Instagram" id="instagram" class="form-control" required>
            </div>
            <div class="form-area social-media">
                <label for="github">
                    <i class="fab fa-github-square" title="Logomarca do Github"></i>
                </label>
                <input type="text" placeholder="Github" id="github" class="form-control" required>
            </div>
            <div class="form-area social-media">
                <label for="site"><i class="fas fa-link"></i></label>
                <input type="text" placeholder="Site" id="site" class="form-control" required>
            </div>
            <div id="buttons-div">
                <button type="submit" class="btn" id="clear-btn">Descartar</button>
                <button type="submit" class="btn" id="submit-btn">Salvar</button>
            </div>
        </form>
    </div>
</main>