<app-header></app-header>
<main>
    <section id="author">
        <img src="https://ui-avatars.com/api/?name=${{encode(user.name)}}&background=random&rounded=true">
        <div class="w-100">
            <div class="info-div">
                <h2>{{user.name}}</h2>
                <p *ngIf="user.description != ''">{{user.description}}</p>
                <p *ngIf="user.description == ''">Sem nenhuma uma descrição ainda. Você pode ir nas configurações para editar o seu perfil!</p>
            </div>
            <div class="social-div">
                <a *ngIf="user.site != ''" href="{{'http://' + user.site}}" target="_blank"><i class="fas fa-link"></i>{{user.site}}</a>
                <div>
                    <a *ngIf="user.github != ''" href="{{'http://' + user.github}}" target="_blank">
                        <i class="fab fa-github-square" title="Logomarca do Github"></i>
                    </a>
                    <a *ngIf="user.instagram != ''" href="{{'http://' + user.instagram}}" target="_blank">
                        <i class="fab fa-instagram" title="Logomarca do Instagram"></i>
                    </a>
                    <a *ngIf="user.linkedin != ''" href="{{'http://' + user.linkedin}}" target="_blank">
                        <i class="fab fa-linkedin" title="Logomarca do Linkedin"></i>
                    </a>
                </div>
            </div>
        </div>
    </section>
    <section id="posts">
        <article *ngFor="let post of posts">
            <img src="{{post.imageURL}}">
            <div class="post-content">
                <h2 class="lighter-text">{{post.topics[0]}}</h2>
                <h1>{{post.title}}</h1>
                <p class="lighter-text">{{post.author_name}} | {{formatDate(post.creation_date)}} ({{calculateReadTime(post.description)}} minutos de leitura)</p>
                <p>{{splitFirstParagraph(post.description)}}</p>
                <div class="d-flex flex-row align-self-end" style="margin-top: auto;">
                    <a [routerLink]="['/post', post._id]" class="mr-3">Ver mais</a>
                    <a href="/perfil" class="text-danger" (click)="removePost(post._id)"> Excluir post</a>
                </div>
            </div>
        </article>
    </section>
</main>