<app-header></app-header>
<main>
    <section id="author">
        <img src="./../../../assets/images/user.png">
        <div>
            <div class="info-div">
                <h2>{{user.name}}</h2>
                <p>Ipsum adipisicing culpa est nisi consequat ex amet magna culpa veniam tempor irure ea. Reprehenderit labore do tempor eiusmod in consectetur ex sunt id mollit commodo ipsum deserunt quis.</p>
            </div>
            <div class="social-div">
                <a href="arthurblack.com"><i class="fas fa-link"></i>arthurblack.com</a>
                <div>
                    <a href="https://github.com/danilovilhena">
                        <i class="fab fa-github-square" title="Logomarca do Github"></i>
                    </a>
                    <a href="https://www.instagram.com/_danilovilhena/">
                        <i class="fab fa-instagram" title="Logomarca do Instagram"></i>
                    </a>
                    <a href="https://www.linkedin.com/in/danilo-vilhena-4b150b1b0/">
                        <i class="fab fa-linkedin" title="Logomarca do Linkedin"></i>
                    </a>
                </div>
            </div>
        </div>
    </section>
    <section id="posts">
        <article>
            <img src="../../../assets/images/card1.png">
            <div>
                <h2>Tecnologia</h2>
                <h1>Tempor deserunt Sunt Qui</h1>
                <p>Connie Robertson | November 3, 2020 (10 mins read)</p>
                <p>Ea qui dolor aute cupidatat ad pariatur proident. Mollit nulla tempor aute reprehenderit ut dolore mollit nisi consequat excepteur ex officia pariatur irure.</p>
                <a href="#">Ver mais →</a>
            </div>
        </article>
        <article>
            <img src="../../../assets/images/card2.png">
            <div>
                <h2>Javascript</h2>
                <h1>Occaecat Anim eu Qui</h1>
                <p>Eleanor Williamson | September 28, 2020 (8 mins read)</p>
                <p>Qui ipsum consectetur ad incididunt et aliquip exercitation laboris nisi reprehenderit. Et excepteur commodo esse enim ea aliqua officia reprehenderit.</p>
                <a href="#">Ver mais →</a>
            </div>
        </article>
        <article>
            <img src="../../../assets/images/card3.png">
            <div>
                <h2>Open Source</h2>
                <h1>Fugiat Incididunt Voluptate Consequat</h1>
                <p>Bessie Watson | June 13, 2020 (20 mins read)</p>
                <p>Mollit ea culpa ipsum pariatur eiusmod. Irure et.</p>
                <a href="#">Ver mais →</a>
            </div>
        </article>
        <article>
            <img src="../../../assets/images/card4.png">
            <div>
                <h2>SCSS</h2>
                <h1>Occaecat Anim eu Qui</h1>
                <p>Ted Simmmons | June 21, 2015 (13 mins read)</p>
                <p>Amet ipsum occaecat aliqua aute nisi laboris nostrud culpa est do. Aliqua esse velit in excepteur esse qui voluptate laboris adipisicing qui irure elit amet excepteur.</p>
                <a href="#">Ver mais →</a>
            </div>
        </article>
    </section>
</main>