@media (max-width: 1000px){
    #left-side{
        width: 75%;
    }
    #right-side{
        width: 25%;
    }
}

@media (max-width: 680px){
    header{
        flex-direction: column;
        justify-content: center;
        width: 100%;
        margin-left: 0;
        margin-right: 0;
        margin-top: 2%;
    }
    #left-side, #right-side{
        width: 100%;
        justify-content: center;
    }
    #left-side{
        flex-direction: column;
        justify-content: center;
    }
    #left-side nav{
        margin-top: 1.5rem;
        margin-bottom: 1.5rem;
    }
    #left-side ul{
        padding-inline-start: 0;
    }
    #left-side a:last-of-type{
        margin-right: 0;
    }
}