<header>
    <div id="left-side">
        <img src="./../../../assets/images/blog_logo.png" alt="Logomarca do Tech News">
        <nav>
            <ul>
                <li><a href="/admin/inicio" [class.active]="isHome">Início</a></li>
                <li><a href="/admin/usuarios" [class.active]="isUsers">Usuários</a></li>
                <li><a href="/admin/posts" [class.active]="isPosts">Postagens</a></li>
            </ul>
        </nav>
    </div>

    <div id="right-side">
        <button routerLink="/" class="btn" type="submit">Sair</button>
    </div>
</header>