<app-admin-header></app-admin-header>
<main>
    <h1>Postagens</h1>
    <section>
        <img src="./../../../assets/images/card1.png">
        <div>
            <div class="info-div">
                <h2>Tecnologia</h2>
                <h1>Tempor deserunt Sunt Qui</h1>
                <p>Connie Robertson | November 3, 2020 (10 mins read)</p>
                <p>Ipsum adipisicing culpa est nisi consequat ex amet magna culpa veniam tempor irure ea. Reprehenderit labore do tempor eiusmod in consectetur ex sunt id mollit commodo ipsum deserunt quis.</p>
            </div>
            <div class="buttons-div">
                <button class="btn">Excluir</button>
            </div>
        </div>
    </section>
    <section>
        <img src="./../../../assets/images/card2.png">
        <div>
            <div class="info-div">
                <h2>Tecnologia</h2>
                <h1>Tempor deserunt Sunt Qui</h1>
                <p>Connie Robertson | November 3, 2020 (10 mins read)</p>
                <p>Ipsum adipisicing culpa est nisi consequat ex amet magna culpa veniam tempor irure ea. Reprehenderit labore do tempor eiusmod in consectetur ex sunt id mollit commodo ipsum deserunt quis.</p>
            </div>
            <div class="buttons-div">
                <button class="btn">Excluir</button>
            </div>
        </div>
    </section>
    <section>
        <img src="./../../../assets/images/card3.png">
        <div>
            <div class="info-div">
                <h2>Tecnologia</h2>
                <h1>Tempor deserunt Sunt Qui</h1>
                <p>Connie Robertson | November 3, 2020 (10 mins read)</p>
                <p>Ipsum adipisicing culpa est nisi consequat ex amet magna culpa veniam tempor irure ea. Reprehenderit labore do tempor eiusmod in consectetur ex sunt id mollit commodo ipsum deserunt quis.</p>
            </div>
            <div class="buttons-div">
                <button class="btn">Excluir</button>
            </div>
        </div>
    </section>
    <section>
        <img src="./../../../assets/images/card4.png">
        <div>
            <div class="info-div">
                <h2>Tecnologia</h2>
                <h1>Tempor deserunt Sunt Qui</h1>
                <p>Connie Robertson | November 3, 2020 (10 mins read)</p>
                <p>Ipsum adipisicing culpa est nisi consequat ex amet magna culpa veniam tempor irure ea. Reprehenderit labore do tempor eiusmod in consectetur ex sunt id mollit commodo ipsum deserunt quis.</p>
            </div>
            <div class="buttons-div">
                <button class="btn">Excluir</button>
            </div>
        </div>
    </section>
</main>