<app-admin-header></app-admin-header>
<main>
    <h1>Postagens</h1>
    <section *ngFor="let post of posts">
        <img src="{{post.imageURL}}">
        <div>
            <div class="info-div">
                <h2 class="lighter-text">{{post.topics[0]}}</h2>
                <h1>{{post.title}}</h1>
                <p class="lighter-text">{{post.author_name}} | {{formatDate(post.creation_date)}} ({{calculateReadTime(post.description)}} minutos de leitura)</p>
                <p>{{splitFirstParagraph(post.description)}}</p>
            </div>
            <div class="buttons-div">
                <button class="btn" (click)="removePost(post._id)">Excluir</button>
            </div>
        </div>
    </section>
</main>