<app-header></app-header>
<main>
  <section id="first-section">
      <div>
          <img src="assets/images/blog_logo.png">
          <h1>Um blog focado em trazer as melhores informações sobre tecnologias.</h1>
      </div>
  </section>
  
  <section id="second-section">
      <h1>Projetado e desenvolvido por: </h1>
      <section>
          <div>
              <h2>Danilo Vilhena</h2>
              <p>Estudante de Computação na UNIFOR, desenvolvedor web com foco em aplicações acessíveis no LEAD. Estou bastante interessado nessa área e, por isso, viso sempre aprender mais tecnologias que possam ajudar e otimizar as aplicações que desenvolvo. Atualmente, sou mais familiar com o frontend, especialmente os frameworks Angular e Vue. No entanto, ainda preciso aprender bem como integrar essas aplicações com o backend e estudar essas outras áreas do desenvolvimento web.</p>
          </div>
          <img src="assets/images/danilo.jpg" alt="Imagem do autor Danilo Vilhena">
      </section>
  </section>
</main>

<footer>
    <h1>Contato</h1>
    <p>Fale conosco pelas redes sociais abaixo:</p>
    <div>
        <section>
            <ul>
                <li title="Logomarca do Github">
                  <a href="https://github.com/danilovilhena">
                    <i class="fab fa-github-square" title="Logomarca do Github"></i>
                  </a>
                </li>
                <li title="Logomarca do Instagram">
                  <a href="https://www.instagram.com/_danilovilhena/">
                    <i class="fab fa-instagram" title="Logomarca do Instagram"></i>
                  </a>
                </li>
                <li title="Logomarca do Linkedin">
                  <a href="https://www.linkedin.com/in/danilo-vilhena-4b150b1b0/">
                    <i class="fab fa-linkedin" title="Logomarca do Linkedin"></i>
                  </a>
                </li>
            </ul>
        </section>
    </div>
</footer>