<section>
    <div>
        <h2>Em Destaque</h2>
        <h1>A tecnologia mais perigosa do mundo.</h1>
        <p>Ralph Hawkins | May 7, 2019 (10 mins read)</p>
        <p>Proident aliquip velit qui commodo officia qui consectetur dolor ullamco aliquip elit incididunt. Ea minim ex consectetur excepteur. Ex laborum nostrud mollit sint consectetur Lorem amet aliqua do enim. Commodo duis dolor anim excepteur. In aliquip mollit nulla consequat velit magna.</p>
        <a href="#">Ver mais →</a>
    </div>
    <img src="../../../assets/images/main_article_placeholder2.jpg">
</section>