main{
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3rem;
}

h1{
    font-weight: bold;
    margin-bottom: 3rem;
}

section{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
}
h2{
    font-weight: bold;
}
p{
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 0;
}
img{
    width: 72px;
    height: 72px;
    margin-right: 1rem;
}
.info-div{
   display: flex;
}
.buttons-div{
    display: flex;
    flex-direction: row-reverse;
}

button{
    color: #ffffff;
    background-color: #000000;
    border: 3px solid #000000;
    transition: all 0.375s ease-in-out;
    font-weight: bold;
    padding-top: .5rem;
    padding-bottom: .5rem;
    padding-left: 1rem;
    padding-right: 1rem;
}
button:first-of-type{
    margin-left: 1rem;
}
button:hover{
    color: #ffffff;
    background-color: #292929;
}