@media (max-width: 1300px){
    main{
        width: 60%;
    }
}

@media (max-width: 1050px){
    main{
        width: 65%;
    }
}

@media (max-width: 950px){
    main{
        width: 80%;
    }
}

@media (max-width: 650px){
    section{
        flex-direction: column;
    }
    img{
        margin-bottom: 1rem;
        margin-right: 0;
    }
    button{
        margin-top: 1rem;
        margin-left: 0 !important;
    }
    section div{
        flex-direction: column;
        align-items: center;
    }
    h1, h2, p{
        text-align: center;
    }
}