<app-admin-header></app-admin-header>
<main>
    <h1>Usuários</h1>
    <section *ngFor="let user of users" class="mb-5">
        <div class="info-div">
            <img src='https://ui-avatars.com/api/?name=${{encode(user.name)}}&background=random&rounded=true'>
            <div>
                <h2>{{user.name}}</h2>
                <p><b>E-mail:</b> {{user.email}} | <b>Telefone:</b> {{user.phone}}</p>
            </div>
        </div>
        <button class="btn" (click)="removeUser(user._id)">Excluir</button>
    </section>
    
</main>