<app-header></app-header>
<main>
    <div class="my-auto" id="main-div">
        <h1>Esqueceu a senha?</h1>
        <p>Digite seu e-mail abaixo para recuperá-la.</p>
        <form action="">
            <div class="form-area">
                <label for="email">E-mail</label>
                <input type="text" placeholder="E-mail" id="email" class="form-control" required>
            </div>

            <button type="submit" class="btn" id="submit-btn">Enviar e-mail de recuperação</button>
        </form>
    </div>
</main>
<app-footer></app-footer>