<app-header></app-header>
<main>
    <img src="{{post.imageURL}}">
    <section id="article-section">
        <h1 class="">{{post.title}}</h1>
        <p class="lighter-text">{{post.author_name}} | {{formatDate(post.creation_date)}} ({{calculateReadTime(post.description)}} minutos de leitura)</p>
        <p class="lighter-text">{{formatTopics(post.topics)}}</p>
        <p [innerHTML]='formatDescription(post.description)'></p>
    </section>
    <section id="author-section">
        <h2 class="mb-3">Sobre o Autor</h2>
        <div id="author-div">
            <img src="https://ui-avatars.com/api/?name=${{encode(author.name)}}&background=random&rounded=true">
            <div id="author-content">
                <h1>{{author.name}}</h1>
                <p *ngIf="author.description != ''">{{author.description}}</p>
                <p *ngIf="author.description == ''">O autor ainda não escreveu sua descrição!</p>
            </div>
        </div>
    </section>
    <button class="btn" (click)="navigateBack()">Voltar</button>
</main>