<app-admin-header></app-admin-header>
<main>
    <div id="data">
        <div class="data-line">
            <p class="data-number">{{ (users.length).toLocaleString(undefined, {minimumIntegerDigits: 2}) }}</p>
            <p *ngIf="users.length != 1">usuários cadastrados</p>
            <p *ngIf="users.length == 1">usuário cadastrado</p>
        </div>
        <div class="data-line">
            <p class="data-number">{{ (posts.length).toLocaleString(undefined, {minimumIntegerDigits: 2}) }}</p>
            <p *ngIf="users.length != 1">postagens feitas</p>
            <p *ngIf="users.length == 1">postagem feita</p>
        </div>
        <div class="data-line">
            <p class="data-number">{{((posts.length)/(users.length)).toFixed(1)}}</p>
            <p>postagens em média</p>
        </div>
    </div>
    <div id="buttons">
        <button class="btn" routerLink="/admin/usuarios">Ver os usuários cadastrados</button>
        <button class="btn" routerLink="/admin/posts">Ver as postagens cadastradas</button>
    </div>
</main>