<app-header></app-header>
<main>
    <div id="data">
        <div class="data-line">
            <p class="data-number">04</p>
            <p>usuários cadastrados</p>
        </div>
        <div class="data-line">
            <p class="data-number">20</p>
            <p>postagens feitas</p>
        </div>
        <div class="data-line">
            <p class="data-number">05</p>
            <p>quantidade média de postagens</p>
        </div>
    </div>
    <div id="buttons">
        <button class="btn">Ver os usuários cadastrados</button>
        <button class="btn">Ver as postagens cadastradas</button>
    </div>
</main>