/* You can add global styles to this file, and also import other style files */
*{
    font-family: 'Libre Baskerville', serif;
}

.bootstrap-select > .dropdown-item.active, .dropdown-item:active{
    background-color: #000000 !important;
}

.bootstrap-select .dropdown-toggle:focus, .bootstrap-select .dropdown-toggle:active{
    outline: none !important;
}

.bootstrap-select .btn-light.focus, .btn-light:focus{
    box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25) !important;
}