<app-header></app-header>
<section id="first-section">
    <div>
        <img src="../../../assets/images/blog_logo.png">
        <h1>Um blog focado em trazer as melhores informações sobre tecnologias.</h1>
    </div>
</section>

<section id="second-section">
    <h1>Projetado e desenvolvido por: </h1>
    <section>
        <div>
            <h2>Danilo Vilhena</h2>
            <p>Laboris consectetur sunt nulla eiusmod voluptate eiusmod dolor nisi qui dolor cillum fugiat ad. Id sit mollit labore sunt sit culpa qui minim pariatur et officia elit id. Tempor cupidatat veniam esse ad veniam dolore excepteur tempor dolor consectetur ut id.</p>
        </div>
        <img src="./../../../assets/images/placeholder1.png">
    </section>
</section>

<footer>
    <h1>Contato</h1>
    <p>Fale conosco pelas redes sociais abaixo:</p>
    <div>
        <section>
            <ul>
                <li title="Logomarca do Github">
                  <a href="https://github.com/danilovilhena">
                    <i class="fab fa-github-square" title="Logomarca do Github"></i>
                  </a>
                </li>
                <li title="Logomarca do Instagram">
                  <a href="https://www.instagram.com/_danilovilhena/">
                    <i class="fab fa-instagram" title="Logomarca do Instagram"></i>
                  </a>
                </li>
                <li title="Logomarca do Linkedin">
                  <a href="https://www.linkedin.com/in/danilo-vilhena-4b150b1b0/">
                    <i class="fab fa-linkedin" title="Logomarca do Linkedin"></i>
                  </a>
                </li>
            </ul>
        </section>
    </div>
</footer>