<app-header></app-header>
<main>
    <div id="main-div">
        <form action="" id="search-area">
            <input class="form-control" type="search" placeholder="Pesquise pelo tópico que desejar" aria-label="Pesquise pelo tópico que desejar">
            <a href=""><img src="./../../../assets/icons/lupa.svg"></a>
        </form>
        <section id="tags-area">
            <div routerLink="/"><a>#tecnologia</a></div>
            <div><a>#backend</a></div>
            <div><a>#frontend</a></div>
            <div><a>#webdev</a></div>
            <div><a>#carreira</a></div>
            <div><a>#html</a></div>
            <div><a>#css</a></div>
            <div><a>#javascript</a></div>
            <div><a>#typescript</a></div>
            <div><a>#react</a></div>

        </section>
    </div>
</main>
<app-footer></app-footer>