<app-header></app-header>
<main>
    <div id="main-div">
        <form action="" id="search-area">
            <input class="form-control" (keyup)="filterTopics($event)" type="search" placeholder="Pesquise pelo assunto que desejar" aria-label="Pesquise pelo tópico que desejar">
            <a><img src="assets/icons/lupa.svg"></a>
        </form>
        <section id="tags-area">
            <div *ngFor="let topic of topics" [routerLink]="['/assunto', slugify(topic)]"><a>{{topic}}</a></div>
        </section>
    </div>
</main>