@media (max-width: 1100px){
    main #main-div{
        width: 39%;
    }
}

@media (max-width: 930px){
    main{
        height: auto;
        margin-top: 4rem;
    }
    main #main-div{
        width: 49%;
    }
}

@media (max-width: 700px){
    main #main-div{
        width: 69%;
    }
}

@media (max-width: 540px){
    main #main-div{
        width: 89%;
    }
}