<app-header></app-header>
<main>
    <div class="my-auto" id="main-div">
        <h1>Faça seu cadastro!</h1>
        <p class="text-center">Preencha os campos abaixo para criar sua conta. Já tem uma conta? <a routerLink="/login">Faça login</a></p>
        <form [formGroup]="registerForm">
            <div class="form-area">
                <label for="name">Nome completo</label>
                <input formControlName="name" type="text" placeholder="Nome completo" id="name" class="form-control" [class.invalid]="isValid('name')" required>
            </div>

            <div class="form-area">
                <label for="mail">E-mail</label>
                <input formControlName="email" type="text" placeholder="E-mail" id="mail" class="form-control" [class.invalid]="isValid('email')" required>
            </div>

            <div class="form-area">
                <label for="phone">Telefone</label>
                <input formControlName="phone" type="text" placeholder="Telefone" id="phone" class="form-control" [class.invalid]="isValid('phone')" required>
            </div>

            <div class="form-area">
                <label for="password">Senha</label>
                <input formControlName="password" type="password" placeholder="Senha" id="password" class="form-control" [class.invalid]="isValid('password')" required>
            </div>

            <div class="form-area">
                <label for="confirm-password">Confirme sua senha</label>
                <input formControlName="confirmPassword" type="password" placeholder="Confirme sua senha" id="confirm-password" class="form-control" [class.invalid]="isValid('confirmPassword')" required>
            </div>

            <div class="bottom-line-area">
                <div class="checkbox-area">
                    <input type="checkbox" name="Aceito os termos e condições" id="accept-terms" required>
                    <label for="accept-terms">Aceito os termos e condições</label>
                </div>
            </div>

            <button type="submit" class="btn mb-3 " id="submit-btn" (click)="register()">Cadastrar-se</button>
            <div class="alert" [class.d-none]="submitMessage == ''" [class.alert-success]="submitMessage.includes('Cadastro')" [class.alert-danger]="submitMessage.includes('erro')" role="alert" style="font-family: 'Open Sans', sans-serif;">
                {{submitMessage}}
            </div>
        </form>
    </div>
</main>