@media (max-width: 1100px){
    main #main-div{
        width: 49%;
    }
}

@media (max-width: 930px){
    main{
        height: auto;
        margin-top: 2rem;
    }
    main #main-div{
        width: 59%;
    }
}

@media (max-width: 700px){
    main #main-div{
        width: 79%;
    }
}

@media (max-width: 540px){
    main #main-div{
        width: 89%;
    }
    main #buttons-div{
        justify-content: space-evenly;
    }
    main .btn{
        width: 40%;
    }
}